workflows/obsolete/BB_03_Availability_Engine.json
{
  "name": "BB_03_Slot_Availability",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "6b121c56-735c-4495-8045-c4b39aba1980",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const input = $input.item.json;\n  const errors = [];\n  const uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n  const dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\n\n  // provider_id: requerido, UUID\n  if (!input.provider_id) {\n    errors.push('provider_id is required');\n  } else if (typeof input.provider_id !== 'string' || !uuidRegex.test(input.provider_id)) {\n    errors.push('provider_id must be a valid UUID');\n  }\n\n  // service_id: opcional, UUID\n  let serviceId = input.service_id || null;\n  if (serviceId) {\n    if (typeof serviceId !== 'string' || !uuidRegex.test(serviceId)) {\n      errors.push('service_id must be a valid UUID');\n    }\n  }\n\n  // target_date: opcional, YYYY-MM-DD\n  let targetDate = input.target_date || null;\n  if (targetDate) {\n    if (!dateRegex.test(targetDate)) {\n      errors.push('target_date must be YYYY-MM-DD format');\n    } else {\n      const parsed = new Date(targetDate + 'T00:00:00');\n      if (isNaN(parsed.getTime())) {\n        errors.push('target_date is not a valid date');\n      }\n    }\n  }\n\n  // days_range: opcional, 1-30\n  let daysRange = input.days_range !== undefined ? input.days_range : null;\n  if (daysRange !== null) {\n    daysRange = parseInt(daysRange, 10);\n    if (isNaN(daysRange) || daysRange < 1 || daysRange > 30) {\n      errors.push('days_range must be integer between 1 and 30');\n    }\n  }\n\n  if (errors.length > 0) {\n    return [{\n      json: {\n        valid: false,\n        validation_errors: errors\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      valid: true,\n      provider_id: input.provider_id,\n      service_id: serviceId,\n      target_date: targetDate,\n      days_range: daysRange\n    }\n  }];\n\n} catch (e) {\n  return [{\n    json: {\n      valid: false,\n      validation_errors: ['Internal validation error: ' + e.message]\n    }\n  }];\n}"
      },
      "id": "1b1ac5ae-d47b-4e9f-9b8d-0fbf54c64a4b",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        352
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "is-invalid",
                    "leftValue": "={{ $json.valid }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "5830e6aa-dc69-4a6c-9221-d8278bc2a937",
      "name": "Switch: Valid?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        128,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const input = $input.item.json;\n  return [{\n    json: {\n      success: false,\n      error_code: 'VALIDATION_FAILED',\n      error_message: input.validation_errors.join('; '),\n      data: null\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error_code: 'INTERNAL_ERROR',\n      error_message: 'Failed to format validation error',\n      data: null\n    }\n  }];\n}"
      },
      "id": "118b2d89-37ba-4c5e-9fd1-7bcecaf25329",
      "name": "Format Validation Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  p.id AS provider_id,\n  p.name AS provider_name,\n  p.slug AS provider_slug,\n  p.slot_duration_mins,\n  svc.duration_minutes AS service_duration_mins,\n  COALESCE(\n    json_agg(\n      json_build_object(\n        'day_of_week', s.day_of_week,\n        'start_time', s.start_time::text,\n        'end_time', s.end_time::text\n      )\n    ) FILTER (WHERE s.id IS NOT NULL),\n    '[]'\n  )::text AS schedules_json,\n  (SELECT value FROM app_config WHERE key = 'TIMEZONE') AS timezone,\n  (SELECT value FROM app_config WHERE key = 'BOOKING_WINDOW_DAYS') AS booking_window_days,\n  (SELECT value FROM app_config WHERE key = 'MIN_BOOKING_ADVANCE_HOURS') AS min_advance_hours,\n  (SELECT value FROM app_config WHERE key = 'MAX_SLOTS_PER_QUERY') AS max_slots_per_query\nFROM providers p\nLEFT JOIN schedules s ON s.provider_id = p.id AND s.is_active = true\nLEFT JOIN services svc ON svc.id = NULLIF('{{ $('Validate Input').item.json.service_id || '' }}', '')::uuid\n  AND svc.provider_id = p.id\n  AND svc.active = true\nWHERE p.id = '{{ $('Validate Input').item.json.provider_id }}'\n  AND p.deleted_at IS NULL\nGROUP BY p.id, p.name, p.slug, p.slot_duration_mins, svc.duration_minutes;",
        "options": {}
      },
      "id": "1fa6aae9-0689-429e-8120-773dc0142aac",
      "name": "DB: Provider + Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        336,
        448
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly",
          "name": "Postgres Booking"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "has-error",
                    "leftValue": "={{ $json.error }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "bacd84e3-7f8c-4d09-a170-2d37465016ec",
      "name": "Switch: DB Error?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        560,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const input = $input.item.json;\n  return [{\n    json: {\n      workflow_name: 'BB_03_Slot_Availability',\n      error_message: 'Database error fetching provider/config: ' + (input.message || JSON.stringify(input)),\n      node_name: 'DB: Provider + Config',\n      error_type: 'DATABASE_ERROR',\n      severity: 'HIGH'\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      workflow_name: 'BB_03_Slot_Availability',\n      error_message: 'Unknown DB error (format failed)',\n      node_name: 'DB: Provider + Config',\n      error_type: 'DATABASE_ERROR',\n      severity: 'HIGH'\n    }\n  }];\n}"
      },
      "id": "f042df3d-d4a4-4261-983c-950997e22b90",
      "name": "Prepare DB Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        352
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "_Za9GzqB2cS9HVwBglt43",
          "mode": "id",
          "cachedResultUrl": "/workflow/_Za9GzqB2cS9HVwBglt43"
        },
        "options": {}
      },
      "id": "33b2701d-1b4e-4b81-9076-d4e64a724e7a",
      "name": "BB_00: Notify Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1008,
        352
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  return [{\n    json: {\n      success: false,\n      error_code: 'DATABASE_ERROR',\n      error_message: 'Error accessing database. Please try again later.',\n      data: null\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error_code: 'INTERNAL_ERROR',\n      error_message: 'System error',\n      data: null\n    }\n  }];\n}"
      },
      "id": "8c7c1527-7f52-4a62-8101-6a58a50fc938",
      "name": "Format DB Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        352
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "no-provider",
                    "leftValue": "={{ $json.provider_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "638458f4-c892-4136-9b46-377c685c5e68",
      "name": "Switch: Provider Found?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        784,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  return [{\n    json: {\n      success: false,\n      error_code: 'PROVIDER_NOT_FOUND',\n      error_message: 'Provider not found or inactive',\n      data: null\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error_code: 'INTERNAL_ERROR',\n      error_message: 'System error',\n      data: null\n    }\n  }];\n}"
      },
      "id": "83974364-4691-4a73-85e7-d7dbd59d4f22",
      "name": "Format Not Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const provider = $input.item.json;\n  const schedules = JSON.parse(provider.schedules_json || '[]');\n\n  if (schedules.length === 0) {\n    return [{\n      json: {\n        success: false,\n        error_code: 'NO_SCHEDULE',\n        error_message: 'Provider has no active schedules configured',\n        data: null,\n        _no_schedule: true,\n        provider_id: provider.provider_id\n      }\n    }];\n  }\n\n  const inputFromPrevious = $('Validate Input').item.json;\n  const serviceId = inputFromPrevious.service_id || null;\n  const serviceDuration = provider.service_duration_mins ? parseInt(provider.service_duration_mins, 10) : null;\n  if (serviceId && !serviceDuration) {\n    return [{\n      json: {\n        success: false,\n        error_code: 'SERVICE_NOT_FOUND',\n        error_message: 'Service not found or inactive for provider',\n        data: null,\n        _service_not_found: true,\n        provider_id: provider.provider_id,\n        service_id: serviceId\n      }\n    }];\n  }\n\n  const tz = provider.timezone || 'UTC';\n  const windowDays = parseInt(provider.booking_window_days || '14', 10);\n  const minAdvanceHours = parseInt(provider.min_advance_hours || '2', 10);\n  const maxSlots = parseInt(provider.max_slots_per_query || '1000', 10);\n  const targetDate = inputFromPrevious.target_date || null;\n  const daysRange = inputFromPrevious.days_range || windowDays;\n  const slotDuration = serviceDuration || parseInt(provider.slot_duration_mins || '30', 10);\n\n  return [{\n    json: {\n      _proceed: true,\n      provider_id: provider.provider_id,\n      provider_name: provider.provider_name,\n      provider_slug: provider.provider_slug,\n      slot_duration_mins: slotDuration,\n      timezone: tz,\n      booking_window_days: windowDays,\n      min_advance_hours: minAdvanceHours,\n      max_slots: maxSlots,\n      schedules: schedules,\n      target_date: targetDate,\n      days_range: daysRange,\n      service_id: serviceId\n    }\n  }];\n\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error_code: 'INTERNAL_ERROR',\n      error_message: 'Error preparing schedule data: ' + e.message,\n      data: null,\n      _no_schedule: true\n    }\n  }];\n}"
      },
      "id": "f829b881-54b9-465f-a3be-bb2ab6e8de79",
      "name": "Prepare Schedule Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        640
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "no-schedule",
                    "leftValue": "={{ $json._no_schedule }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "6071dccc-787e-44bd-ba21-bc7f59fdbb8b",
      "name": "Switch: Has Schedule?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1216,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const input = $input.item.json;\n  return [{\n    json: {\n      success: input.success || false,\n      error_code: input.error_code || 'NO_SCHEDULE',\n      error_message: input.error_message || 'No schedule available',\n      data: null\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error_code: 'INTERNAL_ERROR',\n      error_message: 'System error',\n      data: null\n    }\n  }];\n}"
      },
      "id": "d750d1bc-9a4a-46d2-a202-1b1c6219c29b",
      "name": "Format No Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        544
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  start_time,\n  end_time,\n  status\nFROM bookings\nWHERE provider_id = '{{ $json.provider_id }}'\n  AND start_time < '{{ $json.query_end }}'::timestamptz\n  AND end_time > '{{ $json.query_start }}'::timestamptz\n  AND status IN ('pending', 'confirmed')\n  AND deleted_at IS NULL;",
        "options": {}
      },
      "id": "73ebceaa-836f-4918-bee5-653c1ffd8649",
      "name": "DB: Get Bookings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1440,
        752
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly",
          "name": "Postgres Booking"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "booking-db-error",
                    "leftValue": "={{ $json.error }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "40015641-fea9-4e9b-adb3-e9a240a8b44e",
      "name": "Switch: Bookings Error?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1664,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  return [{\n    json: {\n      workflow_name: 'BB_03_Slot_Availability',\n      error_message: 'Database error fetching bookings',\n      node_name: 'DB: Get Bookings',\n      error_type: 'DATABASE_ERROR',\n      severity: 'HIGH'\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      workflow_name: 'BB_03_Slot_Availability',\n      error_message: 'Unknown bookings DB error',\n      node_name: 'DB: Get Bookings',\n      error_type: 'DATABASE_ERROR',\n      severity: 'HIGH'\n    }\n  }];\n}"
      },
      "id": "2e9f32b3-9d69-476c-9408-1200d311b2ae",
      "name": "Prepare Bookings Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        640
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "_Za9GzqB2cS9HVwBglt43",
          "mode": "id",
          "cachedResultUrl": "/workflow/_Za9GzqB2cS9HVwBglt43"
        },
        "options": {}
      },
      "id": "b86b1b39-c947-42cd-a134-b2cafc523b1d",
      "name": "BB_00: Notify Bookings Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2096,
        640
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  return [{\n    json: {\n      success: false,\n      error_code: 'DATABASE_ERROR',\n      error_message: 'Error accessing bookings. Please try again later.',\n      data: null\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error_code: 'INTERNAL_ERROR',\n      error_message: 'System error',\n      data: null\n    }\n  }];\n}"
      },
      "id": "e88c4231-ebeb-43b4-996d-ce0608a3e53c",
      "name": "Format Bookings DB Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const input = $input.item.json;\n\n  if (input.success === false) {\n    return [{ json: input }];\n  }\n\n  if (input.success === true) {\n    return [{ json: input }];\n  }\n\n  return [{\n    json: {\n      success: false,\n      error_code: 'INVALID_RESPONSE',\n      error_message: 'Unexpected response from calculation helper',\n      data: null\n    }\n  }];\n\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error_code: 'INTERNAL_ERROR',\n      error_message: 'Error formatting response',\n      data: null\n    }\n  }];\n}\n"
      },
      "id": "d68bfda2-d47f-4a41-bdd6-fbfa233da1f6",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        848
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_logs (\n  table_name,\n  record_id,\n  action,\n  event_type,\n  event_data,\n  performed_by,\n  created_at\n) VALUES (\n  'providers',\n  '{{ $json.provider_id }}',\n  'ACCESS_CHECK',\n  'availability_check',\n  '{{ JSON.stringify({ target_date: $json.target_date, days_range: $json.days_range, workflow: \"BB_03\" }) }}',\n  'system',\n  NOW()\n)",
        "options": {}
      },
      "id": "61189edb-331b-4536-b5cb-9e3ecfbc3fef",
      "name": "Audit Log: Availability Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        336,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly",
          "name": "Postgres Booking"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nuQRvaWJAUCYjVSk",
          "mode": "id",
          "cachedResultUrl": "/workflow/nuQRvaWJAUCYjVSk"
        },
        "options": {}
      },
      "id": "787ad554-05d6-4001-8f53-a16bdbf65a8b",
      "name": "Execute: Validate Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1216,
        720
      ],
      "continueOnFail": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sI5VqGo9yr67UmeW",
          "mode": "id",
          "cachedResultUrl": "/workflow/sI5VqGo9yr67UmeW"
        },
        "options": {}
      },
      "id": "891f1d38-ec0c-4c67-99ff-b86247f6d8b8",
      "name": "Execute: Calculate Slots",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2096,
        848
      ],
      "continueOnFail": false
    },
    {
      "parameters": {
        "jsCode": "try {\n  const scheduleData = $('Apply Validated Config').item.json;\n\n  let bookingsRaw = [];\n  try {\n    const bookingsItems = $('DB: Get Bookings').all();\n    bookingsRaw = bookingsItems\n      .map(item => item.json)\n      .filter(b => b.start_time && b.end_time);\n  } catch (e) {\n    bookingsRaw = [];\n  }\n\n  return [{\n    json: {\n      provider_id: scheduleData.provider_id,\n      provider_name: scheduleData.provider_name,\n      provider_slug: scheduleData.provider_slug,\n      slot_duration_mins: scheduleData.slot_duration_mins,\n      timezone: scheduleData.timezone,\n      min_advance_hours: scheduleData.min_advance_hours,\n      max_slots: scheduleData.max_slots,\n      schedules: scheduleData.schedules,\n      date_range: scheduleData.date_range,\n      bookings: bookingsRaw,\n      service_id: scheduleData.service_id\n    }\n  }];\n\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error_code: 'INTERNAL_ERROR',\n      error_message: 'Error preparing calculation input: ' + e.message,\n      data: null\n    }\n  }];\n}"
      },
      "id": "954ab2e9-fe13-412f-9fe0-da08ef115324",
      "name": "Prepare Calculate Slots Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        848
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "config-invalid",
                    "leftValue": "={{ $json.success }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "e729bc61-8608-4199-89ad-6825ec49907a",
      "name": "Switch: Config Valid?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1440,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const input = $input.item.json;\n  return [{\n    json: {\n      success: false,\n      error_code: input.error_code || 'INVALID_CONFIG',\n      error_message: input.error_message || 'Configuration validation failed',\n      data: null\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error_code: 'INTERNAL_ERROR',\n      error_message: 'Error formatting config error',\n      data: null\n    }\n  }];\n}"
      },
      "id": "e8e3ca52-4357-4375-9733-09f002315341",
      "name": "Format Config Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const scheduleData = $('Prepare Schedule Data').item.json;\n  const configResult = $('Execute: Validate Config').item.json;\n\n  if (!configResult.success) {\n    return [{ json: configResult }];\n  }\n\n  const { timezone, booking_window_days, min_advance_hours } = configResult.validated_config;\n  const tz = timezone || scheduleData.timezone || 'UTC';\n  const windowDays = booking_window_days || scheduleData.booking_window_days || 14;\n  const minAdvanceHours = min_advance_hours || scheduleData.min_advance_hours || 2;\n  const daysRange = scheduleData.days_range || windowDays;\n  const targetDate = scheduleData.target_date || null;\n\n  // Calcular rango de fechas en UTC usando TZ del sistema como referencia\n  const now = new Date();\n  const baseDateStr = targetDate || now.toLocaleDateString('en-CA', { timeZone: tz });\n  const startDateUtc = new Date(baseDateStr + 'T00:00:00Z');\n  const endDateUtc = new Date(startDateUtc);\n  endDateUtc.setUTCDate(endDateUtc.getUTCDate() + (daysRange - 1));\n  const queryEndUtc = new Date(endDateUtc);\n  queryEndUtc.setUTCDate(queryEndUtc.getUTCDate() + 1);\n\n  const startISO = startDateUtc.toISOString().split('T')[0];\n  const endISO = endDateUtc.toISOString().split('T')[0];\n\n  return [{\n    json: {\n      _proceed: true,\n      provider_id: scheduleData.provider_id,\n      provider_name: scheduleData.provider_name,\n      provider_slug: scheduleData.provider_slug,\n      slot_duration_mins: scheduleData.slot_duration_mins,\n      timezone: tz,\n      min_advance_hours: minAdvanceHours,\n      max_slots: scheduleData.max_slots,\n      schedules: scheduleData.schedules,\n      date_range: {\n        from: startISO,\n        to: endISO,\n        total_days: daysRange\n      },\n      query_start: startISO + 'T00:00:00Z',\n      query_end: queryEndUtc.toISOString(),\n      service_id: scheduleData.service_id\n    }\n  }];\n\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error_code: 'INTERNAL_ERROR',\n      error_message: 'Error applying validated config: ' + e.message,\n      data: null\n    }\n  }];\n}"
      },
      "id": "baa20244-a6c0-4942-808b-5ddda55b6de3",
      "name": "Apply Validated Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_logs (\n  table_name,\n  record_id,\n  action,\n  event_type,\n  event_data,\n  performed_by,\n  created_at\n) VALUES (\n  'providers',\n  '{{ $json.provider_id }}',\n  'ACCESS_DENIED',\n  'provider_not_found',\n  '{{ JSON.stringify({ workflow: \"BB_03\" }) }}',\n  'system',\n  NOW()\n)",
        "options": {}
      },
      "id": "7eeda149-7227-46be-8ddd-8601abc73126",
      "name": "Audit Log: Provider Not Found",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1008,
        592
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly",
          "name": "Postgres Booking"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_logs (\n  table_name,\n  record_id,\n  action,\n  event_type,\n  event_data,\n  performed_by,\n  created_at\n) VALUES (\n  'providers',\n  '{{ $json.provider_id }}',\n  'ACCESS_DENIED',\n  'no_schedule',\n  '{{ JSON.stringify({ workflow: \"BB_03\" }) }}',\n  'system',\n  NOW()\n)",
        "options": {}
      },
      "id": "8ab26cc5-d969-4376-8e5f-e094a2e6ac43",
      "name": "Audit Log: No Schedule",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1440,
        592
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly",
          "name": "Postgres Booking"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "service-missing",
                    "leftValue": "={{ $json._service_not_found }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "7d47a961-2a0e-488a-a44f-6075fad07c99",
      "name": "Switch: Service Found?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1216,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const input = $input.item.json;\n  return [{\n    json: {\n      success: false,\n      error_code: input.error_code || 'SERVICE_NOT_FOUND',\n      error_message: input.error_message || 'Service not found',\n      data: null\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error_code: 'INTERNAL_ERROR',\n      error_message: 'Error formatting service error',\n      data: null\n    }\n  }];\n}"
      },
      "id": "7a8263fd-e76b-463a-908d-b31023258cb9",
      "name": "Format Service Not Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        640
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Switch: Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Valid?": {
      "main": [
        [
          {
            "node": "Format Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audit Log: Availability Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Provider + Config": {
      "main": [
        [
          {
            "node": "Switch: DB Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: DB Error?": {
      "main": [
        [
          {
            "node": "Prepare DB Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch: Provider Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DB Error": {
      "main": [
        [
          {
            "node": "BB_00: Notify Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BB_00: Notify Error": {
      "main": [
        [
          {
            "node": "Format DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Provider Found?": {
      "main": [
        [
          {
            "node": "Audit Log: Provider Not Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Schedule Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Schedule Data": {
      "main": [
        [
          {
            "node": "Switch: Service Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Has Schedule?": {
      "main": [
        [
          {
            "node": "Audit Log: No Schedule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: Validate Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Get Bookings": {
      "main": [
        [
          {
            "node": "Switch: Bookings Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Bookings Error?": {
      "main": [
        [
          {
            "node": "Prepare Bookings Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Calculate Slots Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Bookings Error": {
      "main": [
        [
          {
            "node": "BB_00: Notify Bookings Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BB_00: Notify Bookings Error": {
      "main": [
        [
          {
            "node": "Format Bookings DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log: Availability Check": {
      "main": [
        [
          {
            "node": "DB: Provider + Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Validate Config": {
      "main": [
        [
          {
            "node": "Switch: Config Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: Calculate Slots": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calculate Slots Input": {
      "main": [
        [
          {
            "node": "Execute: Calculate Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log: No Schedule": {
      "main": [
        [
          {
            "node": "Format No Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Config Valid?": {
      "main": [
        [
          {
            "node": "Format Config Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apply Validated Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Validated Config": {
      "main": [
        [
          {
            "node": "DB: Get Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log: Provider Not Found": {
      "main": [
        [
          {
            "node": "Format Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Service Found?": {
      "main": [
        [
          {
            "node": "Format Service Not Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch: Has Schedule?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Service Not Found": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "_Za9GzqB2cS9HVwBglt43",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
