workflows/BB_07_Notification_Retry_Worker.json
{
  "name": "BB_07_Notification_Retry_Worker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, booking_id, user_id, message, channel, recipient, priority, payload, retry_count, max_retries, error_message FROM notification_queue WHERE status = 'failed' AND retry_count < COALESCE(max_retries, 3) AND (next_retry_at IS NULL OR next_retry_at <= NOW()) ORDER BY priority DESC, created_at ASC LIMIT 20;",
        "options": {}
      },
      "id": "get_failed",
      "name": "Get Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        200,
        300
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_07_Notification_Retry_Worker';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\nconst meta = () => ({ source: 'retry_worker', timestamp: DateTime.now().setZone(TIMEZONE).toISO(), workflow_id: WORKFLOW_ID, version: VERSION });\nconst fail = (code, msg) => [{ json: { success: false, error_code: code, error_message: msg, data: null, _meta: meta() } }];\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\ntry {\n  const items = $input.all();\n  \n  if (!items?.length || (items.length === 1 && Object.keys(items[0].json).length === 0)) {\n    return ok({ notifications: [], count: 0, message: 'No failed notifications to retry' });\n  }\n\n  const notifications = items.map(item => {\n    const n = item.json;\n    return {\n      id: n.id,\n      booking_id: n.booking_id,\n      user_id: n.user_id,\n      message: n.message,\n      channel: n.channel || 'telegram',\n      recipient: n.recipient,\n      priority: n.priority || 5,\n      payload: n.payload || {},\n      retry_count: n.retry_count || 0,\n      max_retries: n.max_retries || 3,\n      error_message: n.error_message\n    };\n  });\n\n  return ok({ notifications, count: notifications.length });\n} catch (e) {\n  return fail('INTERNAL_ERROR', `${WORKFLOW_ID}: ${e.message}`);\n}"
      },
      "id": "format_notifications",
      "name": "Format Notifications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-notifications",
              "leftValue": "={{ $json.data.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route_has_items",
      "name": "Has Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_07_Notification_Retry_Worker';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\nconst meta = () => ({ source: 'retry_worker', timestamp: DateTime.now().setZone(TIMEZONE).toISO(), workflow_id: WORKFLOW_ID, version: VERSION });\nreturn [{ json: { success: true, error_code: null, error_message: null, data: { processed: 0, message: 'No retries needed' }, _meta: meta() } }];"
      },
      "id": "no_items",
      "name": "No Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_07_Notification_Retry_Worker';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\n\ntry {\n  const notifications = $input.first().json.data.notifications;\n  \n  return notifications.map(n => ({\n    json: {\n      notification_id: n.id,\n      chat_id: n.recipient || '5391760292',\n      text: n.message,\n      parse_mode: 'Markdown',\n      retry_count: n.retry_count,\n      max_retries: n.max_retries\n    }\n  }));\n} catch (e) {\n  return [{ json: { error: e.message } }];\n}"
      },
      "id": "split_items",
      "name": "Split Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "none",
        "additionalFields": {
          "parse_mode": "={{ $json.parse_mode }}"
        }
      },
      "id": "send_telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "U8P4P8JT8XwCoIzD"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\n\ntry {\n  const input = $input.first()?.json || {};\n  const notificationId = input.notification_id || $('Split Items').item.json.notification_id;\n  const retryCount = input.retry_count || $('Split Items').item.json.retry_count || 0;\n  const maxRetries = input.max_retries || $('Split Items').item.json.max_retries || 3;\n  \n  const success = !!(input.message_id || input.ok);\n  const newRetryCount = retryCount + 1;\n  const canRetry = newRetryCount < maxRetries;\n  \n  return [{\n    json: {\n      notification_id: notificationId,\n      success: success,\n      retry_count: newRetryCount,\n      max_retries: maxRetries,\n      can_retry: canRetry,\n      error: success ? null : (input.error_message || input.description || 'Unknown error')\n    }\n  }];\n} catch (e) {\n  return [{ json: { success: false, error: e.message } }];\n}"
      },
      "id": "process_result",
      "name": "Process Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route_success",
      "name": "Retry Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE notification_queue SET status = 'sent', sent_at = NOW(), error_message = NULL WHERE id = $1::uuid;",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $json.notification_id }}"
              }
            ]
          }
        }
      },
      "id": "mark_sent",
      "name": "Mark Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE notification_queue SET status = CASE WHEN retry_count >= max_retries THEN 'failed' ELSE 'pending' END, retry_count = $1, next_retry_at = CASE WHEN retry_count >= max_retries THEN NULL ELSE NOW() + INTERVAL '5 minutes' END, error_message = $2, updated_at = NOW() WHERE id = $3::uuid;",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $json.retry_count }}"
              },
              {
                "value": "={{ $json.error || 'Retry failed' }}"
              },
              {
                "value": "={{ $json.notification_id }}"
              }
            ]
          }
        }
      },
      "id": "mark_retry",
      "name": "Mark Retry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_07_Notification_Retry_Worker';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\nconst meta = () => ({ source: 'retry_worker', timestamp: DateTime.now().setZone(TIMEZONE).toISO(), workflow_id: WORKFLOW_ID, version: VERSION });\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\nreturn ok({ processed: 1, timestamp: DateTime.now().setZone(TIMEZONE).toISO() });"
      },
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        200
      ]
    }
  ],
  "connections": {
    "Every Minute": {
      "main": [
        [
          {
            "node": "Get Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Failed": {
      "main": [
        [
          {
            "node": "Format Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Notifications": {
      "main": [
        [
          {
            "node": "Has Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Items?": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Items": {
      "main": [
        []
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Result": {
      "main": [
        [
          {
            "node": "Retry Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Success?": {
      "main": [
        [
          {
            "node": "Mark Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Sent": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Retry": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
