workflows/BB_01_Telegram_Gateway.json
{
  "name": "BB_01_Telegram_Gateway",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-webhook",
        "responseMode": "responseNode"
      },
      "id": "web",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst input = items[0].json;\nconst body = input.body;\nif (!body) return [{ json: { error: true, message: \"No body\" } }];\nconst message = body.message || body.channel_post;\nconst chatId = message?.chat?.id;\nconst text = message?.text || \"\";\nif (!chatId) return [{ json: { error: true, message: \"No chat ID\" } }];\nreturn [{ json: { chatId: chatId, text: text, firstName: message?.from?.first_name || \"User\", type: \"text\" } }];\n"
      },
      "id": "guard",
      "name": "Guard & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT public.get_tenant_config_json('aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa')"
      },
      "id": "get_conf",
      "name": "Get Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        400,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "aa8wMkQBBzGHkJzn",
          "name": "Postgres Neon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst configItems = $items(\"Get Config\");\nconst config = configItems.length > 0 ? configItems[0].json.get_tenant_config_json : {};\nconst defaultPro = config.DEFAULT_PROFESSIONAL_ID || \"2eebc9bc-c2f8-46f8-9e78-7da0909fcca4\";\nconst defaultSrv = config.DEFAULT_SERVICE_ID || \"a7a019cb-3442-4f57-8877-1b04a1749c01\";\nconst input = $input.all()[0].json;\nlet action = \"unknown\";\nif (input.text.startsWith(\"/start\")) action = \"start\";\nelse if (input.text.startsWith(\"/book\")) action = \"book\";\nelse if (input.text.startsWith(\"/help\")) action = \"help\";\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst dateStr = tomorrow.toISOString().split('T')[0];\nreturn [{\n    json: { \n        ...input, \n        action: action, \n        target_pro: defaultPro, \n        target_srv: defaultSrv, \n        target_date: dateStr, \n        user: { telegram_id: input.chatId }, \n        routing: { intent: action } \n    }\n}];\n"
      },
      "id": "adapter",
      "name": "Adapter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "value2": "book",
              "outputKey": "book"
            },
            {
              "value2": "start",
              "outputKey": "start"
            }
          ]
        }
      },
      "id": "router",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BB_02_Security_Firewall",
          "mode": "list",
          "cachedResultName": "BB_02_Security_Firewall"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user": "={{ { telegram_id: $json.chatId } }}",
            "routing": "={{ { intent: $json.action } }}"
          }
        }
      },
      "id": "exec_fw",
      "name": "Call 'BB_02_Security_Firewall'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "dataType": "boolean",
        "value1": "={{ $json.success }}",
        "rules": {
          "rules": [
            {
              "value2": true,
              "outputKey": "authorized"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "check_fw",
      "name": "Authorized?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1250,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BB_03_Availability_Engine",
          "mode": "list",
          "cachedResultName": "BB_03_Availability_Engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "professional_id": "={{ $node['Adapter'].json.target_pro }}",
            "service_id": "={{ $node['Adapter'].json.target_srv }}",
            "date": "={{ $node['Adapter'].json.target_date }}"
          }
        }
      },
      "id": "exec_avail",
      "name": "Call 'BB_03_Availability_Engine'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1500,
        100
      ]
    },
    {
      "parameters": {
        "content": "Slots: {{ $json.slots ? $json.slots.length : 0 }} available."
      },
      "id": "resp_slots",
      "name": "Msg: Slots",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1750,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond_slots",
      "name": "Respond Slots",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1950,
        100
      ]
    },
    {
      "parameters": {
        "content": "Welcome! Use /book to check slots."
      },
      "id": "resp_start",
      "name": "Msg: Start",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond_start",
      "name": "Respond Start",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        -100
      ]
    },
    {
      "parameters": {
        "content": "Access Denied."
      },
      "id": "resp_block",
      "name": "Msg: Blocked",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond_block",
      "name": "Respond Blocked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1700,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Guard & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard & Normalize": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adapter": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Call 'BB_02_Security_Firewall'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg: Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg: Start": {
      "main": [
        [
          {
            "node": "Respond Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'BB_02_Security_Firewall'": {
      "main": [
        [
          {
            "node": "Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorized?": {
      "main": [
        [
          {
            "node": "Call 'BB_03_Availability_Engine'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg: Blocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'BB_03_Availability_Engine'": {
      "main": [
        [
          {
            "node": "Msg: Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg: Slots": {
      "main": [
        [
          {
            "node": "Respond Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg: Blocked": {
      "main": [
        [
          {
            "node": "Respond Blocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}