workflows/BB_04_Booking_Reschedule.json
{
  "name": "BB_04_Booking_Reschedule",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb04-reschedule",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "test_webhook",
      "name": "\ud83e\uddea Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        400
      ],
      "webhookId": "bb04-reschedule-test"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, user_id, provider_id, service_id, gcal_event_id FROM bookings WHERE id = $1 AND user_id = $2 AND deleted_at IS NULL AND status = 'confirmed'",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $json.booking_id }}"
              },
              {
                "value": "={{ $json.user_id }}"
              }
            ]
          }
        }
      },
      "id": "fetch_old",
      "name": "Fetch Old Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        220,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "has_id",
                    "leftValue": "={{ !!$json.id }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check_found",
      "name": "Found?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { error: true, code: 'ERR_NOT_FOUND', message: 'Booking not found', status: 404 } }];"
      },
      "id": "not_found",
      "name": "Not Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        560
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": "primary",
        "eventId": "={{ $json.gcal_event_id }}",
        "options": {}
      },
      "id": "gcal_delete_old",
      "name": "GCal Delete Old",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        660,
        240
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $('\ud83e\uddea Test Webhook').item.json.new_start_time }}",
        "end": "={{ $('\ud83e\uddea Test Webhook').item.json.new_end_time }}",
        "additionalFields": {
          "summary": "Reserva Reagendada"
        }
      },
      "id": "gcal_create_new",
      "name": "GCal Create New",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        880,
        240
      ],
      "continueOnFail": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bookings (user_id, provider_id, service_id, start_time, end_time, status, gcal_event_id) VALUES ($1, $2, $3, $4, $5, 'confirmed', $6) RETURNING id, start_time, end_time",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $('Fetch Old Booking').item.json.user_id }}"
              },
              {
                "value": "={{ $('Fetch Old Booking').item.json.provider_id }}"
              },
              {
                "value": "={{ $('Fetch Old Booking').item.json.service_id }}"
              },
              {
                "value": "={{ $('\ud83e\uddea Test Webhook').item.json.new_start_time }}"
              },
              {
                "value": "={{ $('\ud83e\uddea Test Webhook').item.json.new_end_time }}"
              },
              {
                "value": "={{ $('GCal Create New').item.json.id }}"
              }
            ]
          }
        }
      },
      "id": "insert_new",
      "name": "Insert New Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1100,
        240
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "has_id",
                    "leftValue": "={{ !!$json.id }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check_insert",
      "name": "Inserted?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1320,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings SET status = 'rescheduled', updated_at = NOW() WHERE id = $1 RETURNING id",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $('Fetch Old Booking').item.json.id }}"
              }
            ]
          }
        }
      },
      "id": "update_old",
      "name": "Update Old Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1540,
        120
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const oldId = $('Fetch Old Booking').item.json.id;\nconst newId = $('Insert New Booking').item.json.id;\nconst newStart = $('Insert New Booking').item.json.start_time;\nconst newEnd = $('Insert New Booking').item.json.end_time;\n\nreturn [{ json: { success: true, action: 'reschedule', old_booking_id: oldId, new_booking_id: newId, new_start_time: newStart, new_end_time: newEnd, status: 200, message: 'Booking rescheduled successfully' } }];"
      },
      "id": "success",
      "name": "Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        120
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": "primary",
        "eventId": "={{ $('GCal Create New').item.json.id }}",
        "options": {}
      },
      "id": "rollback_gcal",
      "name": "Rollback GCal",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1540,
        360
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { error: true, code: 'TRANSACTION_FAILED', message: 'Failed to reschedule', status: 500 } }];"
      },
      "id": "error",
      "name": "Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        360
      ]
    }
  ],
  "connections": {
    "\ud83e\uddea Test Webhook": {
      "main": [
        [
          {
            "node": "Fetch Old Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Old Booking": {
      "main": [
        [
          {
            "node": "Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found?": {
      "main": [
        [
          {
            "node": "GCal Delete Old",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GCal Delete Old": {
      "main": [
        [
          {
            "node": "GCal Create New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GCal Create New": {
      "main": [
        [
          {
            "node": "Insert New Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert New Booking": {
      "main": [
        [
          {
            "node": "Inserted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserted?": {
      "main": [
        [
          {
            "node": "Update Old Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rollback GCal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Old Status": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rollback GCal": {
      "main": [
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}