workflows/BB_00_Global_Error_Handler.json
{
  "nodes": [
    {
      "parameters": {
        "content": "### \u26a0\ufe0f MANTENIMIENTO\nEliminar el nodo \"Test Webhook\" despu\u00e9s de validar las notificaciones de Telegram y los logs de DB. \nSolo debe quedar el \"Error Workflow Trigger\" para producci\u00f3n.",
        "width": 300,
        "color": 6
      },
      "id": "sticky_note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-global-error",
        "options": {}
      },
      "id": "test_webhook",
      "name": "Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        400
      ],
      "webhookId": "19181505-8922-4bf3-be7e-26889d0daa0d"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_ID = 'BB_00_Global_Error_Handler';\nconst meta = () => ({ source: 'error_handler', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\nconst fail = (code, msg) => [{ json: { success: false, error_code: code, error_message: msg, data: null, _meta: meta() } }];\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\ntry {\n  const items = $input.all();\n  if (!items?.length) return fail('VAL_NO_INPUT', 'No input received');\n\n  const raw = items[0].json;\n  \n  // Handle both Error Trigger and Manual Webhook\n  const errorInfo = {\n    execution_id: raw.execution?.id || 'manual_test',\n    workflow_id: raw.workflow?.id || 'manual_test',\n    workflow_name: raw.workflow?.name || 'Manual_Test_Workflow',\n    error_message: (raw.execution?.error?.message || raw.error?.message || raw.message || 'Unknown error').replace(/[<>]/g, ''),\n    timestamp: new Date().toISOString(),\n    severity: 'CRITICAL',\n    environment: 'production'\n  };\n  \n  return ok(errorInfo);\n} catch (e) {\n  return fail('INTERNAL_ERROR', `${WORKFLOW_ID}: ${e.message}`);\n}"
      },
      "id": "guard",
      "name": "Process Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_ID = 'BB_00_Global_Error_Handler';\nconst meta = () => ({ source: 'error_handler', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\n\ntry {\n  const items = $input.all();\n  if (!items?.length) {\n    return [{ json: { \n      success: false, \n      error_code: 'PRESERVE_NO_INPUT', \n      error_message: 'No data to preserve', \n      data: null, \n      _meta: meta() \n    } }];\n  }\n\n  // Preservar los datos originales ANTES de que DB Log los modifique\n  const inputData = items[0].json;\n  \n  // Estructura estandar para Telegram y DB\n  const preservedData = {\n    success: inputData.success,\n    error_code: inputData.error_code,\n    error_message: inputData.error_message,\n    data: {\n      execution_id: inputData.data?.execution_id || 'unknown',\n      workflow_id: inputData.data?.workflow_id || 'unknown',\n      workflow_name: inputData.data?.workflow_name || 'unknown',\n      error_message: inputData.data?.error_message || 'Unknown error',\n      timestamp: inputData.data?.timestamp || new Date().toISOString(),\n      severity: inputData.data?.severity || 'CRITICAL',\n      environment: inputData.data?.environment || 'production'\n    },\n    _meta: inputData._meta || meta()\n  };\n  \n  return [ { json: preservedData } ];\n} catch (e) {\n  return [{ json: { \n    success: false, \n    error_code: 'PRESERVE_ERROR', \n    error_message: `${WORKFLOW_ID}: ${e.message}`, \n    data: null, \n    _meta: meta() \n  } }];\n}"
      },
      "id": "preserve_data",
      "name": "Preserve Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        208
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "error_handling",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "error_logs",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "={{ $json.data.workflow_name }}",
            "error_type": "RUNTIME_ERROR",
            "error_message": "={{ $json.data.error_message }}",
            "severity": "={{ $json.data.severity }}",
            "environment": "={{ $json.data.environment }}",
            "metadata": "={{ JSON.stringify($json.data) }}"
          }
        },
        "options": {}
      },
      "id": "db_log",
      "name": "DB Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly",
          "name": "Postgres Booking"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_ID = 'BB_00_Global_Error_Handler';\nconst meta = () => ({ source: 'error_handler', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\n\ntry {\n  const items = $input.all();\n  if (!items?.length) {\n    return [{ json: { \n      success: false, \n      error_code: 'TELEGRAM_NO_INPUT', \n      error_message: 'No data for Telegram', \n      data: null, \n      _meta: meta() \n    } }];\n  }\n\n  const inputData = items[0].json;\n  \n  // Usar datos preservados o datos de entrada\n  const data = inputData.data || {};\n  \n  // Formatear mensaje para Telegram con validacion de campos\n  const telegramMsg = {\n    chat_id: '5391760292',\n    text: `\ud83d\udea8 *CRITICAL ERROR DETECTED*\n\n*Workflow:* ${data.workflow_name || 'Unknown'}\n*Execution:* \\`${data.execution_id || 'unknown'}\\`\n\n*Message:* \\`${data.error_message || 'No error message'}\\`\n\n*Timestamp:* ${data.timestamp || new Date().toISOString()}\n\n*Severity:* ${data.severity || 'CRITICAL'}\n*Environment:* ${data.environment || 'production'}\n\n[View Execution](https://n8n.serviciosroger.com/execution/${data.execution_id || ''})`,\n    parse_mode: 'Markdown'\n  };\n  \n  return [{ json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      telegram_message: telegramMsg,\n      original_data: data\n    },\n    _meta: meta()\n  } }];\n} catch (e) {\n  return [{ json: { \n    success: false, \n    error_code: 'TELEGRAM_FORMAT_ERROR', \n    error_message: `${WORKFLOW_ID}: ${e.message}`, \n    data: null, \n    _meta: meta() \n  } }];\n}"
      },
      "id": "format_telegram",
      "name": "Format Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        208
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.data.telegram_message.chat_id }}",
        "text": "={{ $json.data.telegram_message.text }}",
        "replyMarkup": "none",
        "additionalFields": {
          "parse_mode": "={{ $json.data.telegram_message.parse_mode }}"
        }
      },
      "id": "notify_admin",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        208
      ],
      "credentials": {
        "telegramApi": {
          "id": "U8P4P8JT8XwCoIzD",
          "name": "Telegram Booking"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_ID = 'BB_00_Global_Error_Handler';\nconst meta = () => ({ source: 'error_handler', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\n\ntry {\n  // Obtener datos del nodo Preserve Data (antes de DB Log)\n  const preserveData = $node[\"Preserve Data\"].json;\n  \n  const data = preserveData.data || {};\n  \n  return [{ json: {\n    success: false, \n    error_code: 'GLOBAL_ERROR_CAPTURED',\n    error_message: data.error_message || 'Unexpected error captured by global handler',\n    data: {\n      workflow: data.workflow_name || 'unknown',\n      execution: data.execution_id || 'unknown'\n    },\n    _meta: meta()\n  } }];\n} catch (e) {\n  return [{ json: { \n    success: false, \n    error_code: 'INTERNAL_ERROR', \n    error_message: `${WORKFLOW_ID}: ${e.message}`, \n    data: null, \n    _meta: meta() \n  } }];\n}"
      },
      "id": "format_output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        208
      ]
    }
  ],
  "connections": {
    "Test Webhook": {
      "main": [
        [
          {
            "node": "Process Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Process Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Error": {
      "main": [
        [
          {
            "node": "Preserve Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Data": {
      "main": [
        [
          {
            "node": "DB Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Log": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram": {
      "main": [
        [
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37e1af476793fff8d83d04975043d462dd665b71d5f42903a4862a8e314c32a9"
  }
}