workflows/BB_08_JWT_Auth_Helper.json
{
  "name": "BB_08_JWT_Auth_Helper",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jwt-auth-helper",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "\ud83e\uddea Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "jwt-auth-helper-test"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_ID = 'BB_08_JWT_Auth_Helper';\nconst meta = () => ({ source: 'webhook', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\nconst fail = (code, msg) => [{ json: { success: false, error_code: code, error_message: msg, data: null, _meta: meta() } }];\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\ntry {\n  const items = $input.all();\n  if (!items?.length) return fail('VAL_NO_INPUT', 'No input received');\n\n  const raw = items[0].json.body || items[0].json;\n  const headers = items[0].json.headers || raw.headers || {};\n  \n  const authHeader = headers.authorization || headers.Authorization || '';\n  \n  if (!authHeader) return fail('SEC_UNAUTHORIZED', 'Missing Authorization header');\n  if (!authHeader.startsWith('Bearer ')) return fail('SEC_INVALID_TOKEN', 'Invalid token format');\n  \n  const token = authHeader.substring(7);\n  \n  try {\n    const parts = token.split('.');\n    if (parts.length === 3) {\n      let base64 = parts[1].replace(/-/g, '+').replace(/_/g, '/');\n      while (base64.length % 4) base64 += '=';\n      const payload = JSON.parse(Buffer.from(base64, 'base64').toString());\n      if (payload.exp && payload.exp < Math.floor(Date.now() / 1000)) {\n        return fail('SEC_EXPIRED_TOKEN', 'Token has expired');\n      }\n    }\n  } catch (e) {\n    // If decoding fails, we still pass it along but log it's not a standard JWT\n  }\n  \n  return ok({\n    token: token,\n    validated: true,\n    token_length: token.length\n  });\n} catch (e) {\n  return fail('INTERNAL_ERROR', `${WORKFLOW_ID}: ${e.message}`);\n}"
      },
      "id": "guard",
      "name": "Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "error",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "check-error",
                    "leftValue": "={{ $json.success }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-guard",
      "name": "Guard OK?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_ID = 'BB_08_JWT_Auth_Helper';\nconst meta = () => ({ source: 'webhook', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\ntry {\n  const raw = $input.first()?.json;\n  return ok(raw);\n} catch (e) {\n  return [{ json: { success: false, error_code: 'INTERNAL_ERROR', error_message: `${WORKFLOW_ID}: ${e.message}`, data: null, _meta: meta() } }];\n}"
      },
      "id": "success",
      "name": "Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {},
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        800,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_ID = 'BB_08_JWT_Auth_Helper';\nconst meta = () => ({ source: 'webhook', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\n// Pass through the error from Guard (already formatted correctly)\nreturn $input.all();"
      },
      "id": "error-guard",
      "name": "Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        500
      ]
    }
  ],
  "connections": {
    "\ud83e\uddea Test Webhook": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard": {
      "main": [
        [
          {
            "node": "Guard OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard OK?": {
      "main": [
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BB_00_Global_Error_Handler"
  }
}