workflows/BB_04_Booking_Create.json
{
  "name": "BB_04_Booking_Create",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb04-create",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "test_webhook",
      "name": "🧪 Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "webhookId": "bb04-create-test"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger-subworkflow",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_ID = 'BB_04_Booking_Create';\nconst meta = () => ({ source: 'webhook', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\nconst fail = (code, msg) => [{ json: { success: false, error_code: code, error_message: msg, data: null, _meta: meta() } }];\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\nconst isValidUUID = (v) => /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(v);\nconst sanitize = (str) => typeof str === 'string' ? str.replace(/[<>]/g, '') : str;\n\ntry {\n  const items = $input.all();\n  if (!items?.length) return fail('VAL_NO_INPUT', 'No input received');\n\n  const raw = items[0].json.body || items[0].json;\n  const errors = [];\n\n  if (!raw.provider_id || !isValidUUID(raw.provider_id)) errors.push('provider_id must be valid UUID');\n  if (!raw.user_id || !isValidUUID(raw.user_id)) errors.push('user_id must be valid UUID');\n  \n  if (!raw.start_time || isNaN(Date.parse(raw.start_time))) {\n    errors.push('start_time must be valid ISO date');\n  } else {\n    const start = new Date(raw.start_time);\n    const now = new Date();\n    const maxDate = new Date();\n    maxDate.setDate(now.getDate() + 90);\n\n    if (start < now) errors.push('start_time must be in the future');\n    if (start > maxDate) errors.push('start_time too far in the future (max 90 days)');\n  }\n\n  if (!raw.end_time || isNaN(Date.parse(raw.end_time))) {\n    errors.push('end_time must be valid ISO date');\n  } else if (raw.start_time && new Date(raw.start_time) >= new Date(raw.end_time)) {\n    errors.push('start_time must be before end_time');\n  }\n\n  if (errors.length > 0) return fail('VAL_INVALID_INPUT', errors.join('; '));\n\n  return ok({ provider_id: raw.provider_id, user_id: raw.user_id, service_id: raw.service_id || null, start_time: raw.start_time, end_time: raw.end_time });\n} catch (e) {\n  return fail('INTERNAL_ERROR', `${WORKFLOW_ID}: ${e.message}`);\n}"
      },
      "id": "guard",
      "name": "Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        500
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "error",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "check-error",
                    "leftValue": "={{ $json.success }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-guard",
      "name": "Guard OK?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS(SELECT 1 FROM providers WHERE id = $1 AND deleted_at IS NULL) as provider_exists, EXISTS(SELECT 1 FROM users WHERE id = $2 AND deleted_at IS NULL) as user_exists",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $json.data.provider_id }}"
              },
              {
                "value": "={{ $json.data.user_id }}"
              }
            ]
          }
        }
      },
      "id": "validate_fks",
      "name": "Validate FKs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        600,
        400
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly",
          "name": "Postgres Booking"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Validate DB Result — FK Check\n */\nconst WORKFLOW_ID = 'BB_04_Booking_Create';\nconst DB_CONTEXT = 'validate user and provider existence';\n\nconst meta = () => ({ source: 'subworkflow', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\nconst fail = (code, msg) => [{ json: { success: false, error_code: code, error_message: msg, data: null, _meta: meta() } }];\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\ntry {\n  const items = $input.all();\n  if (!items || items.length === 0) return fail('DB_ERROR', `${DB_CONTEXT}: no response from database`);\n\n  const res = items[0].json;\n  \n  if (!res.provider_exists) return fail('BOOK_INVALID_PROVIDER', 'Provider not found or inactive');\n  if (!res.user_exists) return fail('BOOK_INVALID_USER', 'User not found or inactive');\n\n  return ok(res);\n} catch (e) {\n  return fail('INTERNAL_ERROR', `${WORKFLOW_ID} validate_fks: ${e.message}`);\n}"
      },
      "id": "validate_fks_result",
      "name": "Validate FK Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route_fk_success",
      "name": "Route: FK Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT acquire_booking_lock($1::uuid, $2::timestamptz) as locked;",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $('Guard').item.json.data.provider_id }}"
              },
              {
                "value": "={{ $('Guard').item.json.data.start_time }}"
              }
            ]
          }
        }
      },
      "id": "lock_slot",
      "name": "Lock Slot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1200,
        300
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly",
          "name": "Postgres Booking"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Validate DB Result — Advisory Lock\n */\nconst WORKFLOW_ID = 'BB_04_Booking_Create';\nconst DB_CONTEXT = 'acquire slot lock';\n\nconst meta = () => ({ source: 'subworkflow', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\nconst fail = (code, msg) => [{ json: { success: false, error_code: code, error_message: msg, data: null, _meta: meta() } }];\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\ntry {\n  const items = $input.all();\n  if (!items || items.length === 0) return fail('DB_ERROR', `${DB_CONTEXT}: no response from database`);\n\n  const res = items[0].json;\n  \n  if (!res.locked) return fail('BOOK_SLOT_LOCKED', 'Slot is being processed by another request');\n\n  return ok(res);\n} catch (e) {\n  return fail('INTERNAL_ERROR', `${WORKFLOW_ID} lock_slot: ${e.message}`);\n}"
      },
      "id": "validate_lock_result",
      "name": "Validate Lock Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route_lock_success",
      "name": "Route: Lock Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $('Guard').item.json.data.start_time }}",
        "end": "={{ $('Guard').item.json.data.end_time }}",
        "additionalFields": {
          "summary": "Reserva"
        }
      },
      "id": "gcal_create",
      "name": "GCal Create",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1600,
        200
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "mT5XZfEaeP1fqjl4",
          "name": "Google Calendar account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "schema": "public",
        "table": "bookings",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Guard').item.json.data.user_id }}",
            "provider_id": "={{ $('Guard').item.json.data.provider_id }}",
            "service_id": "={{ $('Guard').item.json.data.service_id }}",
            "start_time": "={{ $('Guard').item.json.data.start_time }}",
            "end_time": "={{ $('Guard').item.json.data.end_time }}",
            "status": "confirmed",
            "gcal_event_id": "={{ $json.id }}"
          }
        },
        "options": {
          "returnFields": "id,start_time,end_time,status"
        }
      },
      "id": "db_insert",
      "name": "DB Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1800,
        200
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly",
          "name": "Postgres Booking"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Validate DB Result — Insert Booking\n */\nconst WORKFLOW_ID = 'BB_04_Booking_Create';\nconst DB_CONTEXT = 'insert booking into database';\n\nconst meta = () => ({ source: 'subworkflow', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\nconst fail = (code, msg) => [{ json: { success: false, error_code: code, error_message: msg, data: null, _meta: meta() } }];\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\ntry {\n  const items = $input.all();\n  if (!items || items.length === 0) return fail('DB_ERROR', `${DB_CONTEXT}: no response from database`);\n\n  const res = items[0].json;\n  \n  if (!res.id) return fail('BOOK_INSERT_FAILED', 'Failed to save booking record');\n\n  return ok(res);\n} catch (e) {\n  return fail('INTERNAL_ERROR', `${WORKFLOW_ID} db_insert: ${e.message}`);\n}"
      },
      "id": "validate_insert_result",
      "name": "Validate Insert Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route_insert_success",
      "name": "Route: Insert Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_ID = 'BB_04_Booking_Create';\nconst meta = () => ({ source: 'subworkflow', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\ntry {\n  const result = $input.first()?.json.data;\n  return ok({ booking_id: result.id, start_time: result.start_time, end_time: result.end_time, action: 'created' });\n} catch (e) {\n  return [{ json: { success: false, error_code: 'INTERNAL_ERROR', error_message: `${WORKFLOW_ID}: ${e.message}`, data: null, _meta: meta() } }];\n}"
      },
      "id": "success",
      "name": "Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_ID = 'BB_04_Booking_Create';\nconst meta = () => ({ source: 'webhook', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\n// Pass through the error from Guard (already formatted correctly)\nreturn $input.all();"
      },
      "id": "error-guard",
      "name": "Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Format Output\n * v1.0\n */\nconst WORKFLOW_ID = 'BB_04_Booking_Create';\nconst meta = () => ({ source: 'subworkflow', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\n\ntry {\n  const input = $input.all();\n  if (!input || input.length === 0) {\n    return [{ json: { success: false, error_code: 'SYS_NO_OUTPUT', error_message: `${WORKFLOW_ID}: format output received no input`, data: null, _meta: meta() } }];\n  }\n\n  const incoming = input[0].json;\n\n  if ('success' in incoming && '_meta' in incoming) {\n    return [{ json: { ...incoming, _meta: { ...incoming._meta, timestamp: new Date().toISOString(), formatted_by: WORKFLOW_ID } } }];\n  }\n\n  return [{ json: { success: true, error_code: null, error_message: null, data: incoming, _meta: meta() } }];\n\n} catch (e) {\n  return [{ json: { success: false, error_code: 'INTERNAL_ERROR', error_message: `${WORKFLOW_ID} format: ${e.message}`, data: null, _meta: meta() } }];\n}"
      },
      "id": "format_output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        400
      ]
    }
  ],
  "connections": {
    "🧪 Test Webhook": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard": {
      "main": [
        [
          {
            "node": "Guard OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard OK?": {
      "main": [
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate FKs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate FKs": {
      "main": [
        [
          {
            "node": "Validate FK Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate FK Result": {
      "main": [
        [
          {
            "node": "Route: FK Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: FK Success?": {
      "main": [
        [
          {
            "node": "Lock Slot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Slot": {
      "main": [
        [
          {
            "node": "Validate Lock Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lock Result": {
      "main": [
        [
          {
            "node": "Route: Lock Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Lock Success?": {
      "main": [
        [
          {
            "node": "GCal Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GCal Create": {
      "main": [
        [
          {
            "node": "DB Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Insert": {
      "main": [
        [
          {
            "node": "Validate Insert Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Insert Result": {
      "main": [
        [
          {
            "node": "Route: Insert Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Insert Success?": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BB_00_Global_Error_Handler"
  }
}
