workflows/BB_04_Booking_Reschedule.json
{
  "name": "BB_04_Booking_Reschedule",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb04-reschedule",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "test_webhook",
      "name": "\ud83e\uddea Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "webhookId": "bb04-reschedule-test"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger-subworkflow",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_04_Booking_Reschedule';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\nconst meta = () => ({ source: 'webhook', timestamp: DateTime.now().setZone(TIMEZONE).toISO(), workflow_id: WORKFLOW_ID, version: VERSION });\nconst fail = (code, msg) => [{ json: { success: false, error_code: code, error_message: msg, data: null, _meta: meta() } }];\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\nconst isValidUUID = (v) => /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(v);\n\nconst parseDateTime = (input) => {\n  if (!input || typeof input !== 'string') return null;\n  const d = new Date(input);\n  if (isNaN(d.getTime())) return null;\n  return d;\n};\n\ntry {\n  const items = $input.all();\n  if (!items?.length) return fail('VAL_NO_INPUT', 'No input received');\n\n  const raw = items[0].json.body || items[0].json;\n  const errors = [];\n\n  if (!raw.booking_id || !isValidUUID(raw.booking_id)) errors.push('booking_id must be valid UUID');\n  if (!raw.user_id || !isValidUUID(raw.user_id)) errors.push('user_id must be valid UUID');\n  \n  const startDT = parseDateTime(raw.new_start_time);\n  if (!startDT) {\n    errors.push('new_start_time must be valid ISO date');\n  }\n  \n  const endDT = parseDateTime(raw.new_end_time);\n  if (!endDT) {\n    errors.push('new_end_time must be valid ISO date');\n  } else if (startDT && endDT <= startDT) {\n    errors.push('new_end_time must be after new_start_time');\n  }\n\n  if (errors.length > 0) return fail('VAL_INVALID_INPUT', errors.join('; '));\n\n  return ok({\n    booking_id: raw.booking_id,\n    user_id: raw.user_id,\n    new_start_time: startDT.toISOString(),\n    new_end_time: endDT.toISOString()\n  });\n} catch (e) {\n  return fail('INTERNAL_ERROR', WORKFLOW_ID + ': ' + e.message);\n}"
      },
      "id": "guard",
      "name": "Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        500
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "error",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "check-error",
                    "leftValue": "={{ $json.success }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-guard",
      "name": "Guard OK?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, user_id, provider_id, service_id, gcal_event_id FROM bookings WHERE id = $1 AND user_id = $2 AND deleted_at IS NULL AND status = 'confirmed'",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $json.data.booking_id }}"
              },
              {
                "value": "={{ $json.data.user_id }}"
              }
            ]
          }
        }
      },
      "id": "fetch_old",
      "name": "Fetch Old Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        600,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly"
        }
      }
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "error",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "has_id",
                    "leftValue": "={{ !!$json.id }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check_found",
      "name": "Found?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_04_Booking_Reschedule';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\nconst meta = () => ({ source: 'webhook', timestamp: DateTime.now().setZone(TIMEZONE).toISO(), workflow_id: WORKFLOW_ID, version: VERSION });\nreturn [{ json: { success: false, error_code: 'BOOK_NOT_FOUND', error_message: 'Booking not found', data: null, _meta: meta() } }];"
      },
      "id": "not_found",
      "name": "Not Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        500
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": "primary",
        "eventId": "={{ $json.gcal_event_id }}",
        "options": {}
      },
      "id": "gcal_delete_old",
      "name": "GCal Delete Old",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1000,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "mT5XZfEaeP1fqjl4"
        }
      }
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $('Guard').item.json.data.new_start_time }}",
        "end": "={{ $('Guard').item.json.data.new_end_time }}",
        "additionalFields": {
          "summary": "Reserva Reagendada"
        }
      },
      "id": "gcal_create_new",
      "name": "GCal Create New",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1200,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "mT5XZfEaeP1fqjl4"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bookings (user_id, provider_id, service_id, start_time, end_time, status, gcal_event_id) VALUES ($1, $2, $3, $4, $5, 'confirmed', $6) RETURNING id, start_time, end_time",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $('Fetch Old Booking').item.json.user_id }}"
              },
              {
                "value": "={{ $('Fetch Old Booking').item.json.provider_id }}"
              },
              {
                "value": "={{ $('Fetch Old Booking').item.json.service_id }}"
              },
              {
                "value": "={{ $('Guard').item.json.data.new_start_time }}"
              },
              {
                "value": "={{ $('Guard').item.json.data.new_end_time }}"
              },
              {
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "insert_new",
      "name": "Insert New Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1400,
        300
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly"
        }
      }
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "error",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "has_id",
                    "leftValue": "={{ !!$json.id }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check_insert",
      "name": "Inserted?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings SET status = 'rescheduled', updated_at = NOW() WHERE id = $1 RETURNING id",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $('Fetch Old Booking').item.json.id }}"
              }
            ]
          }
        }
      },
      "id": "update_old",
      "name": "Update Old Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1800,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_04_Booking_Reschedule';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\nconst meta = () => ({ source: 'webhook', timestamp: DateTime.now().setZone(TIMEZONE).toISO(), workflow_id: WORKFLOW_ID, version: VERSION });\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\ntry {\n  const oldId = $('Fetch Old Booking').item.json.id;\n  const newData = $input.first()?.json;\n  return ok({ old_booking_id: oldId, new_booking_id: newData.id, new_start_time: newData.start_time, new_end_time: newData.end_time, action: 'rescheduled' });\n} catch (e) {\n  return [{ json: { success: false, error_code: 'INTERNAL_ERROR', error_message: `${WORKFLOW_ID}: ${e.message}`, data: null, _meta: meta() } }];\n}"
      },
      "id": "success",
      "name": "Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": "primary",
        "eventId": "={{ $('GCal Create New').item.json.id }}",
        "options": {}
      },
      "id": "rollback_gcal",
      "name": "Rollback GCal",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1800,
        400
      ],
      "continueOnFail": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "mT5XZfEaeP1fqjl4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_04_Booking_Reschedule';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\nconst meta = () => ({ source: 'webhook', timestamp: DateTime.now().setZone(TIMEZONE).toISO(), workflow_id: WORKFLOW_ID, version: VERSION });\nreturn [{ json: { success: false, error_code: 'BOOK_TRANSACTION_FAILED', error_message: 'Failed to reschedule booking', data: null, _meta: meta() } }];"
      },
      "id": "error",
      "name": "Transaction Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {},
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2200,
        350
      ]
    },
    {
      "parameters": {
        "content": "\ud83d\udce5 INPUT\n{ booking_id, user_id, new_start_time, new_end_time }",
        "height": 140,
        "width": 340,
        "color": 6
      },
      "id": "sticker-input",
      "name": "\ud83d\udce5 INPUT",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        200
      ]
    },
    {
      "parameters": {
        "content": "\ud83d\udce4 OUTPUT\n{ success, error_code, error_message, data, _meta }",
        "height": 140,
        "width": 340,
        "color": 5
      },
      "id": "sticker-output",
      "name": "\ud83d\udce4 OUTPUT",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_04_Booking_Reschedule';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\nconst meta = () => ({ source: 'webhook', timestamp: DateTime.now().setZone(TIMEZONE).toISO(), workflow_id: WORKFLOW_ID, version: VERSION });\n// Pass through the error from Guard (already formatted correctly)\nreturn $input.all();"
      },
      "id": "error-guard",
      "name": "Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        600
      ]
    }
  ],
  "connections": {
    "\ud83e\uddea Test Webhook": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard": {
      "main": [
        [
          {
            "node": "Guard OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard OK?": {
      "main": [
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Old Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Old Booking": {
      "main": [
        [
          {
            "node": "Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found?": {
      "main": [
        [
          {
            "node": "GCal Delete Old",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Found": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GCal Delete Old": {
      "main": [
        [
          {
            "node": "GCal Create New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GCal Create New": {
      "main": [
        [
          {
            "node": "Insert New Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert New Booking": {
      "main": [
        [
          {
            "node": "Inserted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserted?": {
      "main": [
        [
          {
            "node": "Update Old Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rollback GCal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Old Status": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rollback GCal": {
      "main": [
        [
          {
            "node": "Transaction Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transaction Error": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BB_00_Global_Error_Handler"
  }
}