workflows/BB_07_Notification_Retry_Worker.json
{
  "name": "BB_07_Notification_Retry_Worker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, booking_id, user_id, message, priority, status, retry_count, error_message, created_at, updated_at FROM notification_queue WHERE status = 'pending' AND retry_count < 3 AND created_at > NOW() - INTERVAL '1 hour' ORDER BY priority DESC, created_at ASC LIMIT 50;"
      },
      "id": "fetch_pending",
      "name": "Fetch Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        250,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "aa8wMkQBBzGHkJzn",
          "name": "Postgres Neon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items || items.length === 0) {\n    return [{ json: { no_pending: true, message: 'No pending notifications' } }];\n}\n\nreturn items.map(item => ({\n    json: {\n        ...item.json,\n        retry_attempt: item.json.retry_count + 1\n    }\n}));"
      },
      "id": "prepare_retries",
      "name": "Prepare Retries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        0
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.user_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send_telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        650,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER",
          "name": "Telegram Bot AutoAgenda"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = items.map(item => {\n    const json = item.json;\n    const success = !json.error && json.success !== false;\n    \n    return {\n        id: json.id,\n        success: success,\n        error_message: json.error || null,\n        retry_attempt: json.retry_attempt\n    };\n});\n\nreturn [{\n    json: {\n        results: results,\n        total: results.length,\n        successful: results.filter(r => r.success).length,\n        failed: results.filter(r => !r.success).length\n    }\n}];"
      },
      "id": "analyze_results",
      "name": "Analyze Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "notification_queue",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "sent"
          }
        },
        "whereClause": {
          "values": [
            {
              "column": "id",
              "operator": "equal",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "mark_sent",
      "name": "Mark Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1050,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "aa8wMkQBBzGHkJzn",
          "name": "Postgres Neon"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "notification_queue",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "retry_count": "={{ $json.retry_attempt }}",
            "status": "failed",
            "error_message": "={{ $json.error_message }}",
            "updated_at": "={{ $now.toISO() }}"
          }
        },
        "whereClause": {
          "values": [
            {
              "column": "id",
              "operator": "equal",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "mark_failed",
      "name": "Mark Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1050,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "aa8wMkQBBzGHkJzn",
          "name": "Postgres Neon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const analysis = $node[\"Analyze Results\"].json;\nreturn [{\n    json: {\n        status: 'processed',\n        processed: analysis.total,\n        sent: analysis.successful,\n        failed: analysis.failed,\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "id": "build_summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\ntry {\n    const logEntry = {\n      timestamp: new Date().toISOString(),\n      itemsCount: items.length,\n      preview: JSON.stringify(items[0]?.json).slice(0, 200)\n    };\n    console.log('[WF-OUTPUT]', JSON.stringify(logEntry));\n} catch(e) {}\nreturn items;"
      },
      "id": "log_summary",
      "name": "Log Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        0
      ]
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Fetch Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending": {
      "main": [
        [
          {
            "node": "Prepare Retries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retries": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "Analyze Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Results": {
      "main": [
        [
          {
            "node": "Mark Sent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Failed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Sent": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Failed": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
