workflows/BB_03_04_BookingsData.json
{
  "name": "BB_03_04_BookingsData",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb03-bookings-data",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "\ud83e\uddea Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "bb03-bookings-data-test"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_03_04_BookingsData';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\nconst meta = () => ({ source: 'guard', timestamp: DateTime.now().setZone(TIMEZONE).toISO(), workflow_id: WORKFLOW_ID, version: VERSION });\nconst fail = (code, msg) => [{ json: { success: false, error_code: code, error_message: msg, data: null, _meta: meta() } }];\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\ntry {\n  const items = $input.all();\n  if (!items?.length) return fail('VAL_NO_INPUT', 'No input received');\n\n  const raw = items[0].json.body || items[0].json;\n  \n  // Accept both provider_id (UUID) and provider_slug (string)\n  const providerId = raw.provider_id;\n  const providerSlug = raw.provider_slug;\n  \n  if (!providerId && !providerSlug) {\n    return fail('VAL_MISSING_ID', 'Missing provider_id or provider_slug in input');\n  }\n\n  // Validate slug format if provided (prevent path traversal)\n  if (providerSlug && !/^[a-z0-9-]+$/i.test(providerSlug)) {\n    return fail('VAL_INVALID_SLUG', 'provider_slug must contain only alphanumeric characters and hyphens');\n  }\n\n  return ok({\n    provider_id: providerId,\n    provider_slug: providerSlug,\n    start_date: raw.start_date || DateTime.now().setZone(TIMEZONE).toISO().split('T')[0]\n  });\n} catch (e) {\n  return fail('INTERNAL_ERROR', `${WORKFLOW_ID}: ${e.message}`);\n}"
      },
      "id": "guard",
      "name": "Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "version": 2
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "guard_ok",
      "name": "Guard OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT b.id, b.start_time, b.end_time, b.status\nFROM public.bookings b\nJOIN public.providers p ON b.provider_id = p.id\nWHERE (b.provider_id = '{{ $json.data.provider_id }}' OR p.slug = '{{ $json.data.provider_slug }}')\nAND b.status NOT IN ('cancelled')\nAND b.deleted_at IS NULL\nAND p.deleted_at IS NULL\nORDER BY b.start_time ASC;"
      },
      "id": "db_get_bookings",
      "name": "DB: Get Bookings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        660,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_03_04_BookingsData';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\nconst meta = () => ({ source: 'validate_db', timestamp: DateTime.now().setZone(TIMEZONE).toISO(), workflow_id: WORKFLOW_ID, version: VERSION });\nconst fail = (code, msg) => [{ json: { success: false, error_code: code, error_message: msg, data: null, _meta: meta() } }];\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\ntry {\n  const items = $input.all();\n  const first = items[0].json;\n\n  // Check for DB error\n  if (first.error) {\n    return fail('DB_ERROR', `Database failed: ${first.error.message}`);\n  }\n\n  // For READ operations, empty result is NOT an error, it's an empty list\n  if (!first.id) {\n    return ok([]);\n  }\n\n  // Return all items as a list in 'data'\n  return ok(items.map(i => i.json));\n} catch (e) {\n  return fail('INTERNAL_ERROR', `${WORKFLOW_ID}: ${e.message}`);\n}"
      },
      "id": "validate_db",
      "name": "Validate DB Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_03_04_BookingsData';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\nconst meta = () => ({ source: 'format_output', timestamp: DateTime.now().setZone(TIMEZONE).toISO(), workflow_id: WORKFLOW_ID, version: VERSION });\n\ntry {\n  const raw = $input.first()?.json;\n  return [{ \n    json: {\n      success: raw.success !== false,\n      error_code: raw.error_code || null,\n      error_message: raw.error_message || null,\n      data: raw.data || (raw.success === false ? null : raw),\n      _meta: meta()\n    }\n  }];\n} catch (e) {\n  return [{ json: { success: false, error_code: 'INTERNAL_ERROR', error_message: e.message, data: null, _meta: meta() } }];\n}"
      },
      "id": "format_output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ]
    }
  ],
  "connections": {
    "\ud83e\uddea Test Webhook": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard": {
      "main": [
        [
          {
            "node": "Guard OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard OK?": {
      "main": [
        [
          {
            "node": "DB: Get Bookings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Get Bookings": {
      "main": [
        [
          {
            "node": "Validate DB Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate DB Result": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BB_00_Global_Error_Handler"
  }
}