workflows/BB_04_Booking_Transaction.json
{
  "name": "BB_04_Booking_Transaction",
  "nodes": [
    {
      "parameters": {},
      "id": "sub_trig",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-v3",
        "responseMode": "responseNode"
      },
      "id": "web_trig",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\ntry {\n    const allItems = $input.all();\n    if (!allItems || allItems.length === 0) return [{ json: { error: true, code: \"ERR_NO_DATA\", message: \"No data received\", status: 400 } }];\n    const root = allItems[0].json || {};\n    const input = root.body ? root.body : root;\n    \n    const errors = [];\n    const uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\n    if (!input.professional_id || !uuidRegex.test(input.professional_id)) errors.push(\"Invalid professional_id\");\n    if (!input.user_id || !uuidRegex.test(input.user_id)) errors.push(\"Invalid user_id\");\n    \n    // Strict Date Parsing\n    const start = new Date(input.start_time);\n    const end = new Date(input.end_time);\n    \n    if (isNaN(start.getTime())) errors.push(\"Invalid start_time format\");\n    if (isNaN(end.getTime())) errors.push(\"Invalid end_time format\");\n    \n    if (start >= end) errors.push(\"start_time must be before end_time\");\n    \n    // Duration Logic check (0 duration)\n    if ((end - start) <= 0) errors.push(\"Duration must be positive\");\n\n    if (input.service_id && !uuidRegex.test(input.service_id)) errors.push(\"Invalid service_id (UUID)\");\n\n    if (errors.length > 0) return [{ json: { error: true, code: \"ERR_VALIDATION\", details: errors, message: \"Validation failed\", status: 400 } }];\n\n    const durationMin = (end - start) / (1000 * 60);\n    return [{ json: { ...input, duration_min: durationMin, status: 'confirmed', error: false } }];\n} catch (e) { return [{ json: { error: true, code: \"ERR_GUARD_CRASH\", message: \"Guard Crash\", status: 500 } }]; }\n"
      },
      "id": "guard",
      "name": "Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        200
      ]
    },
    {
      "parameters": {
        "dataType": "boolean",
        "value1": "={{ $json.error }}",
        "rules": {
          "rules": [
            {
              "value2": true,
              "outputKey": "error"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "check_err",
      "name": "Valid?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        450,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\ntry {\n    const logEntry = {\n      timestamp: new Date().toISOString(),\n      itemsCount: items.length,\n      preview: JSON.stringify(items[0]?.json).slice(0, 200)\n    };\n    console.log('[WF-OUTPUT]', JSON.stringify(logEntry));\n} catch(e) {}\nreturn items;"
      },
      "id": "log_err1",
      "name": "Log Output (Error 1)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.status || 400 }}"
        }
      },
      "id": "resp_err",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT public.get_tenant_config_json('aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa')"
      },
      "id": "get_conf",
      "name": "Get Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        700,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "aa8wMkQBBzGHkJzn",
          "name": "Postgres Neon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst configItems = $items(\"Get Config\");\nconst config = configItems.length > 0 ? configItems[0].json.get_tenant_config_json : { min_duration_min: 15, max_duration_min: 120 };\nconst input = $node[\"Guard\"].json;\n\nconst min = parseInt(config.min_duration_min || 15);\nconst max = parseInt(config.max_duration_min || 120);\nconst duration = input.duration_min;\n\nif (duration < min || duration > max) {\n    return [{ json: { error: true, code: \"ERR_DURATION_RANGE\", message: `Duration ${duration}m out of range (${min}m - ${max}m)`, status: 400 } }];\n}\nreturn [{ json: { valid: true, error: false } }];\n"
      },
      "id": "val_dur",
      "name": "Validate Duration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        100
      ]
    },
    {
      "parameters": {
        "dataType": "boolean",
        "value1": "={{ $json.error }}",
        "rules": {
          "rules": [
            {
              "value2": true,
              "outputKey": "error"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "check_dur",
      "name": "Duration OK?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1100,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\ntry {\n    const logEntry = {\n      timestamp: new Date().toISOString(),\n      itemsCount: items.length,\n      preview: JSON.stringify(items[0]?.json).slice(0, 200)\n    };\n    console.log('[WF-OUTPUT]', JSON.stringify(logEntry));\n} catch(e) {}\nreturn items;"
      },
      "id": "log_err2",
      "name": "Log Output (Error 2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT acquire_booking_lock($1, $2) as locked;",
        "options": {
          "queryParameters": "={{ [$json.professional_id, $json.start_time] }}"
        }
      },
      "id": "db_lock",
      "name": "DB: Lock Slot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "aa8wMkQBBzGHkJzn",
          "name": "Postgres Neon"
        }
      }
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $node['Guard'].json.start_time }}",
        "end": "={{ $node['Guard'].json.end_time }}",
        "additionalFields": {
          "summary": "Reserva AutoAgenda"
        }
      },
      "id": "gcal_create",
      "name": "GCal: Create",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1500,
        0
      ],
      "credentials": {
        "googleCalendarApi": {
          "id": "PLACEHOLDER",
          "name": "Google Calendar"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "professionals",
        "whereClause": {
          "values": [
            {
              "column": "id",
              "operator": "equal",
              "value": "={{ $node['Guard'].json.professional_id }}"
            }
          ]
        }
      },
      "id": "get_pro",
      "name": "Get Pro Info",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1700,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "aa8wMkQBBzGHkJzn",
          "name": "Postgres Neon"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "bookings",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
            "user_id": "={{ $node['Guard'].json.user_id }}",
            "professional_id": "={{ $node['Guard'].json.professional_id }}",
            "service_id": "={{ $node['Guard'].json.service_id }}",
            "start_time": "={{ $node['Guard'].json.start_time }}",
            "end_time": "={{ $node['Guard'].json.end_time }}",
            "status": "confirmed",
            "gcal_event_id": "={{ $node['GCal: Create'].json.id }}"
          }
        },
        "options": {
          "returnFields": "id, start_time, end_time"
        }
      },
      "id": "db_insert",
      "name": "DB: Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1900,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "aa8wMkQBBzGHkJzn",
          "name": "Postgres Neon"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "boolean",
        "value1": "={{ !!$json.id }}",
        "rules": {
          "rules": [
            {
              "value2": true,
              "outputKey": "success"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "check_db",
      "name": "DB Success?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2100,
        0
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": "primary",
        "eventId": "={{ $node['GCal: Create'].json.id }}"
      },
      "id": "gcal_rollback",
      "name": "GCal: Rollback",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        2300,
        200
      ],
      "credentials": {
        "googleCalendarApi": {
          "id": "PLACEHOLDER",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\ntry {\n    const logEntry = {\n      timestamp: new Date().toISOString(),\n      itemsCount: items.length,\n      preview: JSON.stringify(items[0]?.json).slice(0, 200)\n    };\n    console.log('[WF-OUTPUT]', JSON.stringify(logEntry));\n} catch(e) {}\nreturn items;"
      },
      "id": "log_err_saga",
      "name": "Log Output (Saga Error)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: true, code: \"ERR_SLOT_TAKEN\", message: \"CONFLICT: Slot taken.\" } }}",
        "options": {
          "responseCode": 409
        }
      },
      "id": "resp_saga_err",
      "name": "Respond Saga Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2700,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\ntry {\n    const logEntry = {\n      timestamp: new Date().toISOString(),\n      itemsCount: items.length,\n      preview: JSON.stringify(items[0]?.json).slice(0, 200)\n    };\n    console.log('[WF-OUTPUT]', JSON.stringify(logEntry));\n} catch(e) {}\nreturn items;"
      },
      "id": "log_ok",
      "name": "Log Output (Success)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: \"success\", booking_id: $json.id, code: \"MSG_BOOKING_SUCCESS\" } }}"
      },
      "id": "respond",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2500,
        -100
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Log Output (Error 1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Output (Error 1)": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Output (Error 2)": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Validate Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Duration": {
      "main": [
        [
          {
            "node": "Duration OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duration OK?": {
      "main": [
        [
          {
            "node": "Log Output (Error 2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB: Lock Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Lock Slot": {
      "main": [
        [
          {
            "node": "GCal: Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GCal: Create": {
      "main": [
        [
          {
            "node": "Get Pro Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pro Info": {
      "main": [
        [
          {
            "node": "DB: Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Insert": {
      "main": [
        [
          {
            "node": "DB Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Success?": {
      "main": [
        [
          {
            "node": "Log Output (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GCal: Rollback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GCal: Rollback": {
      "main": [
        [
          {
            "node": "Log Output (Saga Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Output (Saga Error)": {
      "main": [
        [
          {
            "node": "Respond Saga Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Output (Success)": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}