workflows/BB_04_Booking_Cancel.json
{
  "name": "BB_04_Booking_Cancel",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb04-cancel",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "test_webhook",
      "name": "🧪 Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "bb04-cancel-test"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger-subworkflow",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_ID = 'BB_04_Booking_Cancel';\nconst meta = () => ({ source: 'webhook', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\nconst fail = (code, msg) => [{ json: { success: false, error_code: code, error_message: msg, data: null, _meta: meta() } }];\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\nconst isValidUUID = (v) => /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(v);\n\ntry {\n  const items = $input.all();\n  if (!items?.length) return fail('VAL_NO_INPUT', 'No input received');\n\n  const raw = items[0].json.body || items[0].json;\n  const errors = [];\n\n  if (!raw.booking_id || !isValidUUID(raw.booking_id)) errors.push('booking_id must be a valid UUID');\n  if (!raw.user_id || !isValidUUID(raw.user_id)) errors.push('user_id must be a valid UUID');\n\n  if (errors.length > 0) return fail('VAL_INVALID_INPUT', errors.join('; '));\n\n  return ok({\n    booking_id: raw.booking_id,\n    user_id: raw.user_id\n  });\n\n} catch (e) {\n  return fail('INTERNAL_ERROR', `${WORKFLOW_ID}: ${e.message}`);\n}"
      },
      "id": "guard",
      "name": "Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "error",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "check-error",
                    "leftValue": "={{ $json.success }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-guard",
      "name": "Guard OK?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, user_id, provider_id, gcal_event_id, status FROM bookings WHERE id = $1 AND user_id = $2 AND deleted_at IS NULL AND status = 'confirmed'",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $json.data.booking_id }}"
              },
              {
                "value": "={{ $json.data.user_id }}"
              }
            ]
          }
        }
      },
      "id": "fetch_booking",
      "name": "Fetch Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        600,
        300
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly",
          "name": "Postgres Booking"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Validate DB Result — Fetch Booking\n */\nconst WORKFLOW_ID = 'BB_04_Booking_Cancel';\nconst DB_CONTEXT = 'fetch booking by id and user';\n\nconst meta = () => ({ source: 'subworkflow', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\nconst fail = (code, msg) => [{ json: { success: false, error_code: code, error_message: msg, data: null, _meta: meta() } }];\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\ntry {\n  const items = $input.all();\n  if (!items || items.length === 0) return fail('DB_ERROR', `${DB_CONTEXT}: no response from database`);\n\n  const res = items[0].json;\n  if (!res.id) return fail('BOOK_NOT_FOUND', 'Booking not found or not cancelable');\n\n  return ok(res);\n} catch (e) {\n  return fail('INTERNAL_ERROR', `${WORKFLOW_ID} validate_fetch: ${e.message}`);\n}"
      },
      "id": "validate_fetch_result",
      "name": "Validate Fetch Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route_fetch_success",
      "name": "Route: Fetch Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": "primary",
        "eventId": "={{ $json.data.gcal_event_id }}",
        "options": {}
      },
      "id": "gcal_delete",
      "name": "GCal Delete",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1200,
        200
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "mT5XZfEaeP1fqjl4",
          "name": "Google Calendar account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings SET status = 'cancelled', updated_at = NOW() WHERE id = $1 RETURNING id, status",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $json.data.id }}"
              }
            ]
          }
        }
      },
      "id": "update_status",
      "name": "Update Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1400,
        200
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly",
          "name": "Postgres Booking"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Validate DB Result — Update Status\n */\nconst WORKFLOW_ID = 'BB_04_Booking_Cancel';\nconst DB_CONTEXT = 'update booking status to cancelled';\n\nconst meta = () => ({ source: 'subworkflow', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\nconst fail = (code, msg) => [{ json: { success: false, error_code: code, error_message: msg, data: null, _meta: meta() } }];\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\ntry {\n  const items = $input.all();\n  if (!items || items.length === 0) return fail('DB_ERROR', `${DB_CONTEXT}: no response from database`);\n\n  const res = items[0].json;\n  if (!res.id) return fail('BOOK_UPDATE_FAILED', 'Failed to update booking status');\n\n  return ok(res);\n} catch (e) {\n  return fail('INTERNAL_ERROR', `${WORKFLOW_ID} validate_update: ${e.message}`);\n}"
      },
      "id": "validate_update_result",
      "name": "Validate Update Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route_update_success",
      "name": "Route: Update Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1800,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_ID = 'BB_04_Booking_Cancel';\nconst meta = () => ({ source: 'subworkflow', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\ntry {\n  const result = $input.first()?.json.data;\n  return ok({ booking_id: result.id, action: 'cancelled' });\n} catch (e) {\n  return [{ json: { success: false, error_code: 'INTERNAL_ERROR', error_message: `${WORKFLOW_ID}: ${e.message}`, data: null, _meta: meta() } }];\n}"
      },
      "id": "success",
      "name": "Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Format Output\n * v1.0\n */\nconst WORKFLOW_ID = 'BB_04_Booking_Cancel';\nconst meta = () => ({ source: 'subworkflow', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\n\ntry {\n  const input = $input.all();\n  if (!input || input.length === 0) {\n    return [{ json: { success: false, error_code: 'SYS_NO_OUTPUT', error_message: `${WORKFLOW_ID}: format output received no input`, data: null, _meta: meta() } }];\n  }\n\n  const incoming = input[0].json;\n\n  if ('success' in incoming && '_meta' in incoming) {\n    return [{ json: { ...incoming, _meta: { ...incoming._meta, timestamp: new Date().toISOString(), formatted_by: WORKFLOW_ID } } }];\n  }\n\n  return [{ json: { success: true, error_code: null, error_message: null, data: incoming, _meta: meta() } }];\n\n} catch (e) {\n  return [{ json: { success: false, error_code: 'INTERNAL_ERROR', error_message: `${WORKFLOW_ID} format: ${e.message}`, data: null, _meta: meta() } }];\n}"
      },
      "id": "format_output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_ID = 'BB_04_Booking_Cancel';\nconst meta = () => ({ source: 'webhook', timestamp: new Date().toISOString(), workflow_id: WORKFLOW_ID });\n// Pass through the error from Guard (already formatted correctly)\nreturn $input.all();"
      },
      "id": "error-guard",
      "name": "Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        500
      ]
    }
  ],
  "connections": {
    "🧪 Test Webhook": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard": {
      "main": [
        [
          {
            "node": "Guard OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard OK?": {
      "main": [
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Booking": {
      "main": [
        [
          {
            "node": "Validate Fetch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Fetch Result": {
      "main": [
        [
          {
            "node": "Route: Fetch Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Fetch Success?": {
      "main": [
        [
          {
            "node": "GCal Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GCal Delete": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Validate Update Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Update Result": {
      "main": [
        [
          {
            "node": "Route: Update Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Update Success?": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BB_00_Global_Error_Handler"
  }
}
