workflows/BB_95_Provider_Cache.json
{
  "name": "BB_95_Provider_Cache",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_95_Provider_Cache';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\nconst meta = () => ({ source: 'cache', timestamp: DateTime.now().setZone(TIMEZONE).toISO(), workflow_id: WORKFLOW_ID, version: VERSION });\nconst fail = (code, msg) => [{ json: { success: false, error_code: code, error_message: msg, data: null, _meta: meta() } }];\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\nconst CACHE_TTL_MINUTES = 30;\n\ntry {\n  const items = $input.all();\n  if (!items?.length) return fail('VAL_NO_INPUT', 'No input received');\n\n  const raw = items[0].json.body || items[0].json;\n  const providerSlug = raw.provider_slug;\n  const operation = raw.operation || 'get';\n\n  if (!providerSlug) return fail('VAL_MISSING_SLUG', 'provider_slug is required');\n\n  return ok({\n    provider_slug: providerSlug,\n    operation,\n    ttl_minutes: CACHE_TTL_MINUTES\n  });\n} catch (e) {\n  return fail('INTERNAL_ERROR', `${WORKFLOW_ID}: ${e.message}`);\n}"
      },
      "id": "guard",
      "name": "Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "get",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "op-get",
                    "leftValue": "={{ $json.data.operation }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "invalidate",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "op-invalidate",
                    "leftValue": "={{ $json.data.operation }}",
                    "rightValue": "invalidate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route_operation",
      "name": "Route Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, provider_id, provider_slug, data, cached_at, expires_at, created_at FROM provider_cache WHERE provider_slug = $1 AND expires_at > NOW();",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $('Guard').item.json.data.provider_slug }}"
              }
            ]
          }
        }
      },
      "id": "check_cache",
      "name": "Check Cache",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        600,
        200
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-cache",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route_cache",
      "name": "Cache Hit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.id, p.slug, p.name, p.timezone, p.settings, json_agg(json_build_object('id', s.id, 'name', s.name, 'duration_minutes', s.duration_minutes, 'price', s.price)) as services FROM providers p LEFT JOIN services s ON s.provider_id = p.id AND s.deleted_at IS NULL WHERE p.slug = $1 AND p.deleted_at IS NULL GROUP BY p.id;",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $('Guard').item.json.data.provider_slug }}"
              }
            ]
          }
        }
      },
      "id": "fetch_provider",
      "name": "Fetch Provider",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1000,
        300
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO provider_cache (id, provider_id, provider_slug, data, cached_at, expires_at, created_at) SELECT gen_random_uuid(), p.id, p.slug, json_build_object('id', p.id, 'slug', p.slug, 'name', p.name, 'timezone', p.timezone, 'settings', p.settings), NOW(), NOW() + INTERVAL '30 minutes', NOW() FROM providers p WHERE p.slug = $1 ON CONFLICT (provider_slug) DO UPDATE SET data = EXCLUDED.data, cached_at = NOW(), expires_at = NOW() + INTERVAL '30 minutes' RETURNING *;",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $('Guard').item.json.data.provider_slug }}"
              }
            ]
          }
        }
      },
      "id": "save_cache",
      "name": "Save Cache",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1200,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_95_Provider_Cache';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\nconst meta = () => ({ source: 'cache', timestamp: DateTime.now().setZone(TIMEZONE).toISO(), workflow_id: WORKFLOW_ID, version: VERSION });\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\ntry {\n  const cacheRecord = $input.first()?.json;\n  const providerData = cacheRecord.data || cacheRecord;\n  \n  return ok({\n    provider: providerData,\n    from_cache: !!cacheRecord.cached_at,\n    cached_at: cacheRecord.cached_at || DateTime.now().setZone(TIMEZONE).toISO()\n  });\n} catch (e) {\n  return [{ json: { success: false, error_code: 'INTERNAL_ERROR', error_message: `${WORKFLOW_ID}: ${e.message}`, data: null, _meta: meta() } }];\n}"
      },
      "id": "return_cached",
      "name": "Return Cached",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM provider_cache WHERE provider_slug = $1 RETURNING provider_slug;",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $('Guard').item.json.data.provider_slug }}"
              }
            ]
          }
        }
      },
      "id": "invalidate_cache",
      "name": "Invalidate Cache",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        600,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "99BnrzwZQDhYU6Ly"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\nconst WORKFLOW_ID = 'BB_95_Provider_Cache';\nconst VERSION = 'v1.0';\nconst TIMEZONE = $vars.TIMEZONE || 'UTC';\nconst meta = () => ({ source: 'cache', timestamp: DateTime.now().setZone(TIMEZONE).toISO(), workflow_id: WORKFLOW_ID, version: VERSION });\nconst ok = (data) => [{ json: { success: true, error_code: null, error_message: null, data, _meta: meta() } }];\n\nconst result = $input.first()?.json;\nreturn ok({\n  invalidated: !!result?.provider_slug,\n  provider_slug: $('Guard').item.json.data.provider_slug,\n  timestamp: DateTime.now().setZone(TIMEZONE).toISO()\n});"
      },
      "id": "format_invalidate",
      "name": "Format Invalidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        400
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard": {
      "main": [
        [
          {
            "node": "Route Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Operation": {
      "main": [
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalidate Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache": {
      "main": [
        [
          {
            "node": "Cache Hit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Hit?": {
      "main": [
        [
          {
            "node": "Return Cached",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Provider": {
      "main": [
        [
          {
            "node": "Save Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Cache": {
      "main": [
        [
          {
            "node": "Return Cached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalidate Cache": {
      "main": [
        [
          {
            "node": "Format Invalidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BB_00_Global_Error_Handler"
  }
}
