backups/pre-v2-migration-20260215-174159/BB_04_Main_Orchestrator.json
{
  "name": "BB_04_Main_Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-v3",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "main_webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "bb04-main-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "raw_input",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "prep_input",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow('BB_04_Validate_Input').id }}",
        "options": {}
      },
      "id": "call_validate",
      "name": "\u2192 Validate Input",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "error_check",
                    "leftValue": "={{ $json.error }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check_valid",
      "name": "Valid?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.status || 400 }}"
        }
      },
      "id": "error_response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        880,
        460
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "booking",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "action_booking",
                    "leftValue": "={{ $json.action }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "booking"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "cancel",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "action_cancel",
                    "leftValue": "={{ $json.action }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "cancel"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "reschedule",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "action_reschedule",
                    "leftValue": "={{ $json.action }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "reschedule"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "action_router",
      "name": "Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        880,
        140
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow('BB_04_Booking_Create').id }}",
        "options": {}
      },
      "id": "call_booking",
      "name": "\u2192 Create Booking",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1120,
        20
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow('BB_04_Booking_Cancel').id }}",
        "options": {}
      },
      "id": "call_cancel",
      "name": "\u2192 Cancel Booking",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1120,
        140
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow('BB_04_Booking_Reschedule').id }}",
        "options": {}
      },
      "id": "call_reschedule",
      "name": "\u2192 Reschedule Booking",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1120,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.status || 200 }}"
        }
      },
      "id": "success_response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        140
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "\u2192 Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u2192 Validate Input": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "\u2192 Create Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\u2192 Cancel Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\u2192 Reschedule Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u2192 Create Booking": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u2192 Cancel Booking": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u2192 Reschedule Booking": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}