backups/pre-compliance-fixes-20260215-182245/workflows/BB_04_Booking_Create.json
{
  "name": "BB_04_Booking_Create",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb04-create",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "test_webhook",
      "name": "🧪 Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "webhookId": "bb04-create-test"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT public.get_app_config_json() as config",
        "options": {}
      },
      "id": "get_config",
      "name": "Get Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS(SELECT 1 FROM providers WHERE id = $1 AND deleted_at IS NULL) as provider_exists, EXISTS(SELECT 1 FROM users WHERE id = $2 AND deleted_at IS NULL) as user_exists",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $json.provider_id }}"
              },
              {
                "value": "={{ $json.user_id }}"
              }
            ]
          }
        }
      },
      "id": "validate_fks",
      "name": "Validate FKs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        440,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fks_valid",
                    "leftValue": "={{ $json.provider_exists && $json.user_exists }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check_fks",
      "name": "FKs Valid?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { error: true, code: 'ERR_INVALID_ENTITIES', message: 'Provider or User not found', status: 404 } }];"
      },
      "id": "fk_error",
      "name": "FK Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        540
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT acquire_booking_lock($1::uuid, $2::timestamptz) as locked;",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $json.provider_id }}"
              },
              {
                "value": "={{ $json.start_time }}"
              }
            ]
          }
        }
      },
      "id": "lock_slot",
      "name": "Lock Slot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        260
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "not_locked",
                    "leftValue": "={{ $json.locked }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check_lock",
      "name": "Available?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1100,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { error: true, code: 'SLOT_LOCKED', message: 'Slot is being processed', status: 409 } }];"
      },
      "id": "locked_error",
      "name": "Locked Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        400
      ]
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $json.start_time }}",
        "end": "={{ $json.end_time }}",
        "additionalFields": {
          "summary": "Reserva: {{ $json.user_id }}"
        }
      },
      "id": "gcal_create",
      "name": "GCal Create",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1320,
        120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "schema": "public",
        "table": "bookings",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}",
            "provider_id": "={{ $json.provider_id }}",
            "service_id": "={{ $json.service_id }}",
            "start_time": "={{ $json.start_time }}",
            "end_time": "={{ $json.end_time }}",
            "status": "confirmed",
            "gcal_event_id": "={{ $('GCal Create').item.json.id }}"
          }
        },
        "options": {
          "returnFields": "id,start_time,end_time,status"
        }
      },
      "id": "db_insert",
      "name": "DB Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1540,
        120
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "has_id",
                    "leftValue": "={{ !!$json.id }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check_insert",
      "name": "Inserted?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1760,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, action: 'booking', booking_id: $json.id, start_time: $json.start_time, end_time: $json.end_time, status: 201 } }];"
      },
      "id": "success",
      "name": "Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": "primary",
        "eventId": "={{ $('GCal Create').item.json.id }}",
        "options": {}
      },
      "id": "rollback_gcal",
      "name": "Rollback GCal",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1980,
        240
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { error: true, code: 'TRANSACTION_FAILED', message: 'Failed to create booking', status: 500 } }];"
      },
      "id": "error",
      "name": "Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        240
      ]
    }
  ],
  "connections": {
    "🧪 Test Webhook": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Validate FKs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate FKs": {
      "main": [
        [
          {
            "node": "FKs Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FKs Valid?": {
      "main": [
        [
          {
            "node": "Lock Slot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FK Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Slot": {
      "main": [
        [
          {
            "node": "Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Available?": {
      "main": [
        [
          {
            "node": "GCal Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Locked Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GCal Create": {
      "main": [
        [
          {
            "node": "DB Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Insert": {
      "main": [
        [
          {
            "node": "Inserted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserted?": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rollback GCal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rollback GCal": {
      "main": [
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BB_00_Global_Error_Handler"
  }
}
