workflows_backup/BB_02_Security_Firewall.json
{
  "name": "BB_02_Security_Firewall",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst input = $input.item.json;\nif (!input) throw new Error('Received empty payload');\nif (!input.user) throw new Error('Missing key: user');\nif (!input.routing) throw new Error('Missing key: routing');\n\nconst tid = input.user.telegram_id;\nif (!tid) throw new Error('user.telegram_id is missing');\n\nreturn {\n    ...input,\n    entity_id: `telegram:${tid}`\n};\n"
      },
      "id": "guard",
      "name": "Guard: Input Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM security_firewall WHERE entity_id = $1",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $json.entity_id }}"
              }
            ]
          }
        }
      },
      "id": "db_fw",
      "name": "DB: Check Firewall",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        500,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "aa8wMkQBBzGHkJzn",
          "name": "Postgres Neon"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM users WHERE telegram_id = {{ $node['Guard: Input Schema'].json.user.telegram_id }}::bigint"
      },
      "id": "db_user",
      "name": "DB: Check User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        750,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "aa8wMkQBBzGHkJzn",
          "name": "Postgres Neon"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nconst firewall = $items(\"DB: Check Firewall\")[0]?.json || {};\nconst user = $items(\"DB: Check User\")[0]?.json || null;\nconst input = $input.item.json;\n\n// 1. FIREWALL CHECK\nif (firewall.is_blocked) {\n    const blockedUntil = new Date(firewall.blocked_until);\n    if (new Date() < blockedUntil) {\n        throw new Error(`SECURITY_BLOCK: User blocked until ${blockedUntil.toISOString()}`);\n    }\n}\n\n// 2. USER BAN CHECK\nif (user && user.deleted_at) {\n    throw new Error('SECURITY_BLOCK: User is banned/deleted permanently.');\n}\n\n// 3. ROUTING DECISION\nlet nextStep = 'register';\nlet role = 'guest';\n\nif (user) {\n    role = user.role || 'user';\n    // Single Tenant: No RUT required for now, or keep logic if needed\n    // Assuming lenient policy for now\n    nextStep = 'authorized'; \n}\n\nreturn {\n    ...input,\n    security: {\n        user_db_id: user?.id,\n        role: role,\n        status: nextStep,\n        strikes: firewall.strike_count || 0\n    }\n};\n"
      },
      "id": "logic",
      "name": "Logic: Security Policy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.item.json;"
      },
      "id": "return",
      "name": "Return Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_logs (table_name, action, performed_by, event_type, event_data) VALUES ('users', 'LOGIN_ATTEMPT', $1, 'FIREWALL_ACCESS', $2)",
        "options": {
          "queryParameters": {
            "values": [
              {
                "value": "={{ $node[\"Guard: Input Schema\"] .json.user.telegram_id }}"
              },
              {
                "value": "={{ JSON.stringify($json) }}"
              }
            ]
          }
        }
      },
      "id": "db_log",
      "name": "DB: Audit Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1250,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "aa8wMkQBBzGHkJzn",
          "name": "Postgres Neon"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test/firewall",
        "responseMode": "responseNode"
      },
      "id": "web_test",
      "name": "Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Test Validation (Simplified for Restore)\nconst input = $input.item.json.body || $input.item.json;\nif (!input.user?.telegram_id) return [{json:{error:true, message:'Missing telegram_id'}}];\nreturn [{json: input}];\n"
      },
      "id": "test_val",
      "name": "Test: Defensive Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        400
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "valid",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "check-valid",
                    "leftValue": "={{ !$json.error }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 1
        }
      },
      "id": "test_check",
      "name": "Route: Validation Check",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json: { status: 200, message: 'Test OK', received: $input.item.json }}];"
      },
      "id": "test_build",
      "name": "Test: Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "test_resp",
      "name": "Test: Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        400
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Guard: Input Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard: Input Schema": {
      "main": [
        [
          {
            "node": "DB: Check Firewall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Check Firewall": {
      "main": [
        [
          {
            "node": "DB: Check User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Check User": {
      "main": [
        [
          {
            "node": "Logic: Security Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic: Security Policy": {
      "main": [
        [
          {
            "node": "Return Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "DB: Audit Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test: Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Webhook": {
      "main": [
        [
          {
            "node": "Test: Defensive Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Defensive Validation": {
      "main": [
        [
          {
            "node": "Route: Validation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Validation Check": {
      "main": [
        [
          {
            "node": "Guard: Input Schema",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Test: Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Build Response": {
      "main": [
        [
          {
            "node": "Test: Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}